.Algeria {
  stroke: #1f77b4;
  fill: #1f77b4;
}

.Argentina {
  stroke: #aec7e8;
  fill: #aec7e8;
}

.Australia {
  stroke: #ff7f0e;
  fill: #ff7f0e;
}

.Brazil {
  stroke: #ffbb78;
  fill: #ffbb78;
}

.Belarus {
  stroke: #2ca02c;
  fill: #2ca02c;
}

.China {
  stroke: #98df8a;
  fill: #98df8a;
}

.Colombia {
  stroke: #d62728;
  fill: #d62728;
}

.Ecuador {
  stroke: #ff9896;
  fill: #ff9896;
}

.Germany {
  stroke: #9467bd;
  fill: #9467bd;
}

.Ghana {
  stroke: #c5b0d5;
  fill: #c5b0d5;
}

.Iraq {
  stroke: #8c564b;
  fill: #8c564b;
}

.Japan {
  stroke: #c49c94;
  fill: #c49c94;
}

.Kazakhstan {
  stroke: #e377c2;
  fill: #e377c2;
}

.Netherlands {
  stroke: #f7b6d2;
  fill: #f7b6d2;
}

.New-Zealand {
  stroke: #7f7f7f;
  fill: #7f7f7f;
}

.Nigeria {
  stroke: #c7c7c7;
  fill: #c7c7c7;
}

.Pakistan {
  stroke: #bcbd22;
  fill: #bcbd22;
}

.Peru {
  stroke: #dbdb8d;
  fill: #dbdb8d;
}

.Poland {
  stroke: #17becf;
  fill: #17becf;
}

.Qatar {
  stroke: #9edae5;
  fill: #9edae5;
}

.Russia {
  stroke: #393b79;
  fill: #393b79;
}

.Rwanda {
  stroke: #9c9ede;
  fill: #9c9ede;
}

.South-Africa {
  stroke: #637939;
  fill: #637939;
}

.Zimbabwe {
  stroke: #cedb9c;
  fill: #cedb9c;
}

.Spain {
  stroke: #8c6d31;
  fill: #8c6d31;
}

.Sweden {
  stroke: #e7cb94;
  fill: #e7cb94;
}

.Thailand {
  stroke: #843c39;
  fill: #843c39;
}

.Turkey {
  stroke: #d6616b;
  fill: #d6616b;
}

.Egypt {
  stroke: #7b4173;
  fill: #7b4173;
}

.United-States {
  stroke: #8ca252;
  fill: #8ca252;
}
